@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
/*header styling start*/
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://apollo-olx.cdnvideo.ru/v1/files/a2q1znq9e9ps2-UZ/image;s=644x461") center/cover no-repeat fixed;
}
.navbar{
    background: rgba(0,0,0,0.6);
    padding: 1.2rem;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation .logo a{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 4px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 3px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
.navbar-nav a:hover{
    color: cadetblue;
    transition: 0.5s;
}
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-top: 9%;
}
.banner-title{
    font-family: var(--Playfair);
    font-size: 5rem;
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    font-family: var(--Roboto);
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 4px;
}
.banner form{
    background: #ffffff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.2rem;
    outline: none;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.2rem;
    color: var(--dark);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}



